
.realisations {
  background: #f6faf8;
  padding: 50px 40px;
}

.realisations-title {
 
 margin: 0 0 1.5rem 0; /* supprime le gros espace au-dessus */
  
}

.realisations-content {
  display: flex;
  justify-content: center;
}

.realisations-image {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

.realisations-card {
  text-align: center;
}

.realisations-subtitle {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #0f4c5c;
}

.realisations-subtitle a {
  color: inherit; /* garde la couleur du H3 */
  text-decoration: none; /* supprime le soulignement */
  transition: color 0.2s ease;
}

.realisations-subtitle a:hover {
  color: #b76e79; /* un petit rose doux à l’effet hover */
}


